@import "src/styles/variables";
@import "src/styles/mixins";

.donut-card {
  display: flex;
  align-items: center;
  background: $quaternaryColor;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 15px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-3px);
  }
  &-name {
    font-size: 16px;
  }
  &-label {
    &-new{
      border: 1px solid $primaryColor;
      color: $primaryColor;
      border-radius: 4px;
      padding: 0 4px;
      margin-left: 5px;
      font-size: 12px;
    }

    &-limited{
      border: 1px solid $tertiaryColor;
      color: $tertiaryColor;
      border-radius: 4px;
      padding: 0 4px;
      margin-left: 5px;
      font-size: 12px;
    }
  }
  &-price {
    font-size: 14px;
    color: $primaryColor;
  }
  &-icon {
    width: 50px;
    margin-right: 10px;
  }

  &-promo {
    border: 2px solid #eee;
  }
}
